body {
    font-family: Arial, sans-serif;
    font-size: 3em;
    font-weight: bold;
    background-color: hsl(339, 100%, 59%);
    color: rgb(245, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#view1 {
    margin: 100px;
}
.enter-pass {
    width:800px;
    height: 550px;
    background-color: hsl(187, 100%, 49%);
    border: none;
    border-radius: 20px;
}
input {
    font-size: 1.3em;
    width: 450px;
    height: 75px;
}
label {
    font-size: 1.2em;
}
#enter-btn {
    margin: 25px;
    font-size: 1.5em;
    font-weight: bold;
    width: 350px;
    height: 100px;
    border: none;
    border-radius: 10px;
    background-color: hsl(84, 100%, 69%);
}
#sign-up{
    margin: 20px;
    font-size: 1.5em;
    font-weight: bold;
    width: 350px;
    height: 100px;
    border: none;
    border-radius: 10px;
    background-color: hsl(84, 100%, 69%);
}
/* section view2 */
#view2 {
    display: none;
    margin: 100px;
}
/*#set-pass {
    width:600px;
    height: 500px;
    background-color: hsl(187, 100%, 49%);
} */







